

<div class="panel-body registration">
<div class="row">
<br>
  <h1>Rejestracja:</h1>
  <style>
  	h1 {color:black;}
  </style>
 
</div>

<div class="row">
  <div class="col-md-8">

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal") do |f| %>
		<div class="form-group"><div class="text-danger">
	  <%= devise_error_messages! %>
	   </div></div>

	  <div class="form-group">
        <div><%= f.label :Twój_avatar, class: 'col-sm-2 control-label', :style=>"color:black;" %>
    	 <%= f.file_field :avatar %></div><br>
    </div>
       
      <div class="form-group">
        <%= f.label :login, "Login", class: "col-sm-2 control-label", :style=>"color:black;" %>
        <div class="col-sm-10"><%= f.text_field :login, autofocus: true, class: "form-control" %></div>
      </div>
      <br />
      <div class="form-group">
        <%= f.label :email, "E-mail", class: "col-sm-2 control-label", :style=>"color:black;" %>
        <div class="col-sm-10"><%= f.text_field :email, class: "form-control" %></div>
      </div>
      <br />
      <div class="form-group">
        <%= f.label :password, "Hasło", class: "col-sm-2 control-label" ,:style=>"color:black;"%>
        <div class="col-sm-10"><%= f.password_field :password, placeholder: "Minimum 8 zanków", class: "form-control" %></div>
      </div>
      <br />
      <div class="form-group">
        <%= f.label :password_confirmation, "Potwierdź hasło", class: 'col-sm-2 control-label', :style=>"color:black;"%>
        <div class="col-sm-10"><%= f.password_field :password_confirmation,  autocomplete: "off", class: "form-control" %></div>
      </div>
      <br />
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Zarejestruj", class: "btn btn-primary" %><br>
          <%= render "devise/shared/links" %>
          <br>
       <br>
       <br>
     
          </div>
         </div>
    <% end %>
  </div>
  </div>


</div>





	