<div clas="row">
  <h1>Lista użytkowników</h1>
  <hr />
</div>

<div class="row">
  <%= link_to "Dodaj", new_user_path, :id => "button_id", :class => "btn btn-default btn-lg" %>  
  <hr />
</div>
<div class="row">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th class="text-center" >Login</th>
      <th class="text-center" >Email</th>
     
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td class="text-center"><%= user.login %></td>
        <td class="text-center"><%= user.email %></td>
        <td class="text-center"><%= user.role %></td>
        <td><%= link_to 'Wyświetl', user %></td>
        <td><%= link_to 'Edytuj', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
