

<div class="row">
 <h1>Lista użytkowników</h1>

</div>
<div class="row">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th class="text-center" >Login</th>
      <th class="text-center" >Email</th>
      <th class="text-center" >Rola</th>
     
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td class="text-center"><%= user.login %></td>
        <td class="text-center"><%= user.email %></td>
        <td class="text-center"><%= user.role.name  unless user.role.nil?%></td>
        <td class="round-image-50"><%= image_tag(user.avatar.url(:thumb)) %></td>



        <td><%= link_to 'Wyświetl', user %></td>
        <td><%= link_to 'Edytuj', edit_user_path(user) %></td>
        <td><%= link_to 'Usuń', user_path(user), method: :delete, data: { confirm: 'jesteś pewien?'} %>
      </td>
    <% end %>
  </tbody>
</table>

</div>
