<div class ="panel-body about ">


<div class="heading">
 <h1>Lista wierszy</h1>
 <h4>Liczba wierszy: <%= @user.posts.count unless @user.posts.count.nil? %></h4>

</div>
<div class="row">
<table class="table table-hover table-striped">
  <thead>
    <tr class="first">
      <th class="text-center" >Tytuł</th>
      <th class="text-center" >Kategoria</th>
      <th class="text-center" >Temat</th>
     
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.posts.each do |post| %>
      <tr class="cell">
      	<td class="text-center"><%= link_to post.title, post, {:style=>"color:#FF6622;"} %></td>
        <td class="text-center"><%= post.category.title %></td>
        <td class="text-center"><%= post.topic.name %></td>
       

        

      <td><%= link_to 'Edycja', edit_post_path(post) %></td>

      <% if can? :destroy, post %>
      <td class="link"><%= link_to 'Usuń',  post_path(post), method: :delete,  data: { confirm: 'jesteś pewien?'} %></td>
      <% end %>

    <% end %>
    </tr>
  </tbody>
</table>
</div>
</div>
  

