<%= form_for @post do |f| %>
		<% if @post.errors.any? %>
			<div id="errors"> <!-- zabezpieczenie na wypadek zapisywania pustego posta -->
				<h2><%= pluralize(@post.errors.count, "error") %> </h2>

				<ul>
					<% @post.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
	<% end %>

		 <p>
			 <%= f.label :category_id, "Kategoria" %> <%= f.select :category_id, @categories %>
		 </p>

		  <p>
			 <%= f.label :topic_id, "Temat" %> <%= f.select :topic_id, @topics %>
		 </p>

		<p>
			<%= f.label :Tytuł %><br>
			<%= f.text_field :title %>
		</p>

		<p>
			<%= f.label :wiersz %><br>
			<%= f.text_area :body,  :style => 'width: 50%; height: 300px;' %>
		</p>

		<p>
			<%= f.submit "Wyślij" %>
		</p>

	<% end %>


