

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/droga.jpg" alt="...">
      <div class="carousel-caption">
          <h3> Dołącz do nas </h3>
          <h1><%= link_to 'Zaloguj', new_user_session_path, {:style=>"color:#fff;"} %> </h1>

      </div>
    </div>
    <div class="item">
      <img src="/assets/winter.jpg" alt="...">
      <div class="carousel-caption">
   
      </div>
    </div>
    <div class="item">
      <img src="/assets/las.jpg" alt="...">
      <div class="carousel-caption">
     
      </div>
    </div>



    <div class="item">
      <img src="/assets/field.jpg" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->






<% @posts.each do |post| %>


  <% if post.category.title == "erotyk" %>
      <div class="erotyk">
  <% elsif post.category.title == "aforyzm" %> 
        <div class="aforyzm">
  <% elsif post.category.title == "haiku" %> 
        <div class="haiku">
  <% elsif post.category.title == "wiersz" %> 
        <div class="wiersz">
  <% else %>
        <div class="limeryk">
  <% end %>
	
		
		<!-- Widok na WIERSZE-->
   <br>
   <br>
     <div class="container">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-12 postf" >


   

                 
         <h2 class="titlepost"><%= link_to post.title, post, {:style=>"color:#FF6622;"} %></h2>
         <p class="datepost"><%= post.created_at.strftime("%B, %d, %Y") %></p>
         <p class="bodypost"><%= post.body %></p>
          <p class="button2"><%= link_to "Czytaj dalej", post %></p>
        </div>
      </div>
    </div>

         <br>

       

<% end %>