	
<div class="post_wrapper">
	<h1 class="title">
		<%= @post.title %>
	</h1>


	<p>
		<%= @post.category.title unless @post.category.nil? %>
	</p>


	<% if @post.category.title == "erotyk" %>
			<div class="erotyk">
	<% elsif @post.category.title == "aforyzm" %> 
	     	<div class="aforyzm">
	<% elsif @post.category.title == "haiku" %> 
	     	<div class="haiku">
	<% elsif @post.category.title == "wiersz" %> 
	     	<div class="wiersz">
	<% else %>
	  	 	<div class="limeryk">
	<% end %>



	<p class_"date">
		Dodano <%= @post.created_at.strftime(" %d.%m.%Y ") %> 
		<% if user_signed_in? %>
			| <%= link_to 'Edycja', edit_post_path(@post) %>
			| <%= link_to 'Usuń', post_path(@post), method: :delete, data: { confirm: 'jesteś pewien?'} %>
		<% end %>
	</p>

	<p class="body"><%= @post.body %></p>
	<!-- <p class="comment"><%= @post.body %></p> -->

	<div id="comments">
		<h2><%= @post.comments.count %> Komentarze</h2>
		<%= render @post.comments %>

		<h3>Dodaj komentarz:</h3>
		<%= render "comments/form" %>

    </div>

		   </div>
		  </div>
		 </div>

</div>
