	
<div class="post_wrapper">




	<% if @post.category.title == "erotyk" %>
			<div class="erotyk">
	<% elsif @post.category.title == "aforyzm" %> 
	     	<div class="aforyzm">
	<% elsif @post.category.title == "haiku" %> 
	     	<div class="haiku">
	<% elsif @post.category.title == "wiersz" %> 
	     	<div class="wiersz">
	<% else %>
	  	 	<div class="limeryk">
	<% end %>




 	<div class="post-one">
 		
		<h1 class="title">
			<%= @post.title %>
		</h1>

		<p class="body"><%= @post.body %></p>
		<!-- <p class="comment"><%= @post.body %></p> -->
	</div>


	<p class_"date">
		Dodano <%= @post.created_at.strftime(" %d.%m.%Y ") %> 
		
	</p>

	<p>
		Autor: <%= @post.user_id %>
	</p>

	<p>
		Kategoria: <%= @post.category.title %>
	</p>

	<p>
		Temat: <%= @post.topic.name  unless @post.topic.nil? %>
	</p>

	<% if user_signed_in? %>
			<% if can? :update, @post %>
			<%= link_to 'Edycja', edit_post_path(@post) %>
			<% end %>
			<% if can? :destroy, @post %>
			| <%= link_to 'Usuń', post_path(@post), method: :delete, data: { confirm: 'jesteś pewien?'} %>
			<% end %>
		<% end %>
 <p>
  <%= link_to "Powrót", posts_path %>
 </p>

	</div>
</div>


	<div class="comments">
		<h3>Komentarze: <%= @post.comments.count %></h3>
		<%= render @post.comments %>

		<h4>Dodaj komentarz:</h4>
		<%= render "comments/form" %>

    </div>

	




