	
<div class ="panel-body  ">

<div class='dane'>
		<p class_"date">
			<b>Dodano:</b><%= @post.created_at.strftime(" %d.%m.%Y ") %> 
			
		</p>

		<p>
			<b>Autor: </b><%= link_to @post.user.login, @post.user %>
		</p>

		<p>
			<b>Kategoria: </b><%= @post.category.title %>
		</p>

		<p>
			<b>Temat:</b> <%= @post.topic.name  unless @post.topic.nil? %>
		</p>

		<% if user_signed_in? %>
				<% if can? :update, @post %>
				<%= link_to 'Edycja', edit_post_path(@post) %>
				<% end %>
				<% if can? :destroy, @post %>
				| <%= link_to 'Usuń', post_path(@post), method: :delete, data: { confirm: 'jesteś pewien?'} %>
				<% end %>
			<% end %>
		 <p>
		  	<%= link_to "Powrót", posts_path %>
		 </p>
		 <br>
	<div>






	<% if @post.category.title == "erotyk" %>
			<div class="erotyk_show">
	<% elsif @post.category.title == "dowolny" %> 
	     	<div class="aforyzm_show">
	<% elsif @post.category.title == "haiku" %> 
	     	<div class="haiku_show">
	
	<% else %>
	  	 	<div class="limeryk_show">
	<% end %>




 	<div class="post-show">
 		
		<h1 class="title-post">
			<%= @post.title %>
		</h1>
	
		<p class="body-post"><%= @post.body.to_html.html_safe %></p>
		<!-- <p class="comment"><%= @post.body %></p> -->


	</div>
	

	</div>

	</div>
	</div>
	</div>
	</div>
	</div>



	<div class="comments">
		<h3>Komentarze: <%= @post.comments.count %></h3>
		<%= render @post.comments %>
	<% if user_signed_in? %>
		<h4>Dodaj komentarz:</h4>
		<%= render "comments/form" %>
	<% end %>
    </div>
    <br>

</div>






	




