<nav>

      <ul class="nav navbar-nav navbar-left" >


      <%= link_to "Salon poezji", root_path, class: 'navbar-brand' %>
      </ul>

      <ul class="nav navbar-nav navbar-right">

     
				
				
				<li ><%=link_to "O nas", about_path, class: 'brand' %></li>
				<li><%=link_to "Inspiracje", inspiration_path, class: 'brand' %></li>
				
				<% if user_signed_in? %>

					
					<li><%= link_to "Moje wiersze", current_user %></li>

					<% if current_user.admin? %> 
						<li><%= link_to "Tematy", topics_path %></li>

						<li><%= link_to "Nowy temat", new_topic_path %></li>
						<li><%= link_to "Nowa kategoria", new_category_path %></li>
						<li><%= link_to "Kategorie", categories_path %></li>
					<% end %>

				<li><%= link_to "Dodaj wiersz", new_post_path %></li>
				<li><%= link_to 'Edycja profilu',edit_user_registration_path %></li>
				<li><%=link_to "Użytkownicy", users_path %></li>
	
			
				
				<li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
				<li><%= link_to 'Wyloguj', destroy_user_session_path, method: :delete %></li>
			
		   
		    <% else %>
		    	<li><%= link_to 'Logowanie', new_user_session_path %></li>
		    	<li><%= link_to 'Rejestracja',
		    		new_user_registration_path %> </li>
		    <% end %>

		</ul>
</nav>
