<!DOCTYPE html>
<html>
<head>
  <title>Firstblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body >



 <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
      </div>
  <% end %>

  


  <header class="navbar navbar-fixed-top navbar-inverse">
	  <div class="container">
	   <%= render 'layouts/menu' %>
	  </div>
  </header>
    
		<%= yield %>
  


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


    <footer class="panel-footer">
      
   <div class="row">
      <div class="col-xs-6 col-md-4">
          <h3><%=link_to "O stronie", about_path, class: 'brand' %></h3>
                <p>Serwis powstał jako projekt dyplomowy w&nbsp;ramach studiów<br>
                    I stopnia na kierunku Elektroniczne Przetwarzanie Informacji
                    na Uniwersytecie Jagiellońskim w Krakowie.
                </p>
   
                 <p class="social_bookmarks">
                      <a href="http://www.otworzciedrzwi.org/"></i>Stowarzyszenie "Otwórzcie Dzwi"</a><br>
                      <%=link_to "Żródła", sources_path %>

                </p>

                <p class="copyright">
                        Copyright © 2015 Anna Banaś. All Rights Reserved.
                </p>
      </div>

      <div class="col-xs-6 col-md-4"></div>

      <div class="col-xs-6 col-md-4">

          <h3><%=link_to "Kontakt" %></h3>

          <ul id="contact-info">

             <i class="general foundicon-mail icon"></i>
             <span class="glyphicon glyphicon-envelope"> Email:</span><br>
               annabanas.banas@wzks.uj.edu.pl
          </ul>
       
      </div>
  </div>

</footer>

</body>

</html>
